<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodano do koszyka</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<h1 Dziękujemy za dodanie produktów!></h1>

<a href="/">Kontynuuj zakupy</a><br>
<a href="/koszyk">Koszyk</a><br>
<a href="/koszyk/suma">Podsumowanie zakupów</a>

</body>
</html>